/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ul, li, form {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 50px 0;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
}
.hero img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

/* Unggulan Section */
#unggulan {
    padding: 30px;
    text-align: center;
}

.unggulan-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Tentang Kami Section */
#tentang-kami {
    padding: 30px;
}

.tim-item {
    margin-bottom: 20px;
}

.tim-item img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

/* Layanan Section */
#layanan {
    padding: 30px;
}

.layanan-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Portofolio Section */
#portofolio {
    padding: 30px;
}

.portofolio-item {
    margin-bottom: 20px;
}

.portofolio-item img {
    max-width: 100%;
    height: auto;
}

/* Kontak Section */
#kontak {
    padding: 30px;
    background-color: #f9f9f9;
}
#kontak form {
    margin-bottom: 20px;
}

#kontak label {
    display: block;
    margin-bottom: 5px;
}

#kontak input[type="text"],
#kontak input[type="email"],
#kontak textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#kontak button {
    background-color: #7095df;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-submit { width: 100%;
padding: 75rem 1.3rem}

.info-kontak p {
    margin-bottom: 10px;
}
/* Tentang Kami Section */
#tentang-kami {
    padding: 30px;
}

.news-item {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}

.news-item img {
    width: 200px; /* Sesuaikan lebar gambar */
    height: auto;
    margin-right: 15px;
}

.news-content {
    flex: 1;
}

.news-content h3 {
    margin-bottom: 10px;
}

.photo-gallery {
    display: flex;
    margin-top: 10px;
}

.photo-gallery img {
    width: 100px; /* Sesuaikan lebar gambar galeri */
    height: auto;
    margin-right: 5px;
}
/* Footer */
footer {
    background-color: #3f2f2f;
    color: #fff;
    text-align: center;
    padding: 10px;
}

